.login {
    display: flex;
    height: 72vh;
    align-items: center;
    justify-content: center;
}

h1 {
    align-items:flex-start;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 6px;
    min-width: 800px;
    min-height: 500px;
    max-width: 500px;
    padding: 30px;
    background: linear-gradient(to right, rgba(30, 132, 25, 0.5), rgba(39, 39, 172, 0.5));
}

@media (max-width: 800px) {
    .container {
      max-width: 500px;
    }
  }
  
  @media (max-width: 500px) {
    .container {
        max-width: 200px;
    }
  }

#register2 {
    display: flex;
    font-size: 30px;
    text-shadow: 3px black;
    transform: translateY(30px);
}

#question {
    display: flex;
    transform: translateY(30px);
    font-size: 20px;
    color: black;
}