@import "../styles/backgroundcolor";

.login {
    display: flex;
    height: 72vh;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 6px;
    width: 800px;
    height: 500px;
    padding: 30px;
    background: linear-gradient(to right, rgba(39, 39, 172, 0.5), rgba(30, 132, 25, 0.5));
    
    @media (max-height: 670px){
        height: 450px;
    }

    @media (max-height: 610px){
        height: 400px;
    }

    h1 {
        align-items:flex-start;
    }

    @media (max-width: 350px) {
        max-height: 450px;
    }
    
}

.container form {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    label,input {
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-width: 1px;
    transition: transform 1s;
    }

    input:hover {
        transform: scale(1.03);
    }
}


#username, #password {
    height: 30px;
    width: 300px;

    @media (max-width: 300px) {
        width: 200px;
    }
}

#register2 {
    display: flex;
    font-size: 30px;
    text-shadow: 3px black;
    position: relative;
    top: 25px;
    transition: transform 1s;

    &:hover{
        transform: scale(1.06);
    }
}

#submit {
    margin-top: 20px;
    padding: 10px;
    min-width: 150px;
    border-radius: 6px;
    border-width: 1px;
    font-size: 15px;
    color: $background-color;
    cursor: pointer;
    transition: transform 1s;
    font-weight: bold;
    width: 300px;

    @media (max-width: 300px) {
        width: 50px;
    }

    &:hover{
        transform: scale(1.06);
    }
}

#question {
    display: flex;
    transform: translateY(30px);
    font-size: 20px;
    color: black;

    @media (max-width: 300px) {
        font-size: 18px;
    }
}

#wrong-password {
    color: red;
}