@mixin shine-animation($duration) {
    animation: shine $duration infinite;
  
    @keyframes shine {
      0% {
        filter: brightness(50%);
      }
      50% {
        filter: brightness(200%);
      }
      100% {
        filter: brightness(50%);
      }
    }
  }
  