.home {
    text-align: center;
}

.post-home {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    margin-bottom: 30px;
}

#poster {
    margin-top: -10px;
}


#home-img {
    max-width: 100%;
    max-height: 60vh;
}

