@import "../styles/fonts";
@import "../styles/backgroundcolor";

.profile {
    text-align: center;
    font-family: $font-family;
    h2 {
    font-weight: normal;
    font-size: clamp(20px, 5.3vw, 24px);
    }

    p {
        font-size: clamp(16px, 5.3vw, 24px);
    }
}

#sad-cat {
    max-width: 35%;
    margin-top: 10px;
    height: auto;
    object-fit: cover;
}

#no-posts {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 10vh;
}

#post {
    font-size: clamp(16px, 5.3vw, 24px);
    color: $background-color;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0.5px 1px 60px rgba(0, 0, 0, 0.1);
    font-family: $font-family;
}