@import "../styles/backgroundcolor";
@import "../styles/fonts";

.specific-post-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    
    .image {
      margin-bottom: 20px;
      
      img {
        margin-top: 6px;
        max-width: 100%;
        max-height: 70vh;
        border-radius: 6px;
      }
    }
    
    .post-content {
      h1 {
        color: #333;
        font-size: clamp(30px, 2.6vh, 50px);
        margin-bottom: 10px;
      }
      
      .info {
        margin-bottom: 10px;
        
        a {
          font-size: clamp(12px, 2.9vh, 30px);
          color: $background-color;
          text-decoration: none;
        }

        #edit-post {
            display: inline-block;
            text-decoration: underline;
            border: solid;
            background-color: $background-color;
            border-color: $background-color;
            padding: 10px;
            color: rgb(255, 255, 255);
            margin-top: 12px;
            border-radius: 6px;
            cursor: pointer;
            transition: transform 1s;
            font-weight: bold;
            font-size: clamp(12px, 2.6vh, 30px);

            @media (max-width: 300px) {
                width: 50px;
                font-size: 12px;
            }

            &:hover{
                transform: scale(1.06);
            }
        }
        
        time {
          color: #4b4949;
          font-style: italic;
        }
      }
      
      #summary {
        color: #020202;
        line-height: 1.5;
        padding: 50px;
        text-align:justify;
        font-size: clamp(15px, 2.6vh, 60px);
        font: $font-family;
        margin: 0px 200px;
        
        a {
          color: #007bff;
          text-decoration: none;
          
          &:hover {
            text-decoration: underline;
          }
        }

        @media (max-width: 1200px) {
            margin: 0px 100px;
            padding: 40px;
        }

        @media (max-width: 900px) {
            margin: 0px 60px;
            padding: 30px;
        }

        @media (max-width: 800px) {
            margin: 0px 36px;
            padding: 20px;
        }

        @media (max-width: 700px) {
            margin: 0px 2px;
            padding: 10px;
        }

        @media (max-width: 500px) {
            margin: 0px 0px;
            padding: 0px;
        }
      }
    }
  }